---
services:
  tempo:
    image: grafana/tempo:latest
    container_name: tempo
    volumes:
      - ./config/tempo/config.yml:/etc/tempo/tempo.yml
      - tempo_data:/tmp/tempo
    command: ["-config.file=/etc/tempo/tempo.yml"]
    ports:
      - 3200:3200   # Tempo API
      - 4317:4317
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./config/prometheus/config.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    ports:
      - 9090:9090   # Prometheus UI
    restart: unless-stopped
    depends_on:
      - tempo

  loki:
    image: grafana/loki:latest
    container_name: loki
    volumes:
      - ./config/loki/config.yml:/etc/loki/loki-config.yml
      - loki_data:/loki
    command: -config.file=/etc/loki/loki-config.yml
    ports:
      - 3100:3100   # Loki API
    restart: unless-stopped

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    volumes:
      - /var/log:/var/log   # Adjust log path as needed
      - ./config/promtail/config.yml:/etc/promtail/promtail-config.yml
    command: -config.file=/etc/promtail/promtail-config.yml
    restart: unless-stopped
    depends_on:
      - loki

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    volumes:
      - grafana_data:/var/lib/grafana
      - ./config/grafana/provisioning2/:/etc/grafana/provisioning/
    ports:
      - 3000:3000   # Grafana UI
    restart: unless-stopped
    depends_on:
      - prometheus
      - loki
      - tempo

volumes:
  prometheus_data:
  loki_data:
  tempo_data:
  grafana_data:
